name: Publish Docs
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.4.1
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.1.0
        with:
          python-version: 3.x
      - run: pip install "mkdocs<2.0.0" mkdocs-material mkdocs-minify-plugin "mkdocstrings[python]"
      - run: mkdocs gh-deploy --force